<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header :: header ('utf-8', 'EShop application')" />

<body>

<nav th:replace="/fragments/navbar :: navibar ('EShop', 'List')"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/product/new}">Добавить новый товар</a>
        </div>

        <div class="col-12 mt-3">
            <form class="form-inline" th:method="get">

                <div class="form-group mb-2 mr-2">
                    <label for="productFilter" class="sr-only">product filter</label>
                    <input type="text" class="form-control" id="productFilter" th:value="${param.productFilter}"
                           name="productFilter" placeholder="product filter">
                </div>

<!--                <div class="form-group mb-2 mr-2"
                     th:replace="fragments/product_filter :: product_filter ('text', 'productFilter', 'Product filter', 'param.productFilter')" >
                </div>-->

<!--                <div class="form-group mb-2 mr-2">
                    <label for="minCost" class="sr-only">Minimal product cost</label>
                    <input type="number" class="form-control" id="minCost" th:value="${param.minCost}"
                           name="minCost" placeholder="Minimal product cost">
                </div>-->

                <div class="form-group mb-2 mr-2"
                     th:replace="fragments/product_filter :: product_filter ('number', 'minCost', 'Minimal product cost', 'param.minCost')" >
                </div>

<!--                <div class="form-group mb-2 mr-2">
                    <label for="maxCost" class="sr-only">Maximal product cost</label>
                    <input type="number" class="form-control" id="maxCost" th:value="${param.maxCost}"
                           name="maxCost" placeholder="Maximal product cost">
                </div>-->

                <div class="form-group mb-2 mr-2"
                     th:replace="fragments/product_filter :: product_filter ('number', 'maxCost', 'Maximal product cost', 'param.maxCost')" >
                </div>

                <button type="submit" class="btn btn-primary mb-2">Применить фильтр</button>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col" th:replace="fragments/sort_header :: sort_heaader ('Id', 'id')"></th>
                    <th scope="col" th:replace="fragments/sort_header :: sort_heaader ('Наименование', 'title')"></th>
                    <th scope="col" th:replace="fragments/sort_header :: sort_heaader ('Цена', 'cost')"></th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
<!--                <tr th:unless="${products.isEmpty()}" th:each="product : ${products}"> -->
                    <tr th:if="${products.hasContent()}" th:each="product : ${products.content}">
                    <th scope="row" th:text="${product.id}">1</th>
                    <td th:text="${product.title}">Product Title</td>
                    <td th:text="${product.cost}">Product Cost</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete" th:action="@{/product/{id}(id = ${product.id})}">
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>

                <tr th:unless="${products.hasContent()}">
                    <td colspan="4">No result for this filter</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12" th:if="${products.hasContent()}">
            <nav aria-label="...">
                <ul class="pagination">

                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>

                    <li th:each="num : ${#numbers.sequence(1, products.totalPages)}"
                        th:classappend="${num == products.number + 1} ? 'active'"
                        class="page-item">
                        <a class="page-link"
                           th:text="${num}"
                           th:href="@{/product(page=${num}, size=${products.size}, productFilter=${param.productFilter},
                           minCost=${param.minCost}, maxCost=${param.maxCost}, sortField=${param.sortField})}">1</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>

                </ul>
            </nav>
        </div>

    </div>
</div>

<th:block th:include="/fragments/footer :: footer" />

</body>
</html>