<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navigation.html :: head">
</head>

<body>

<nav th:replace="fragments/navigation.html :: navigation">
</nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/product}" method="post" th:object="${product}" enctype="multipart/form-data">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Enter product title">
                    <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" id="description" th:field="*{description}" placeholder="Enter product description"></textarea>
                    <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                </div>
                <div class="form-group">
                    <label>Cost</label>
                    <input type="number" class="form-control" step=".01" id="cost" th:field="*{cost}" placeholder="Enter price">
                    <p class="text-danger" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p>
                </div>
                <div class="form-group">
                    <label for="categories">Category</label>
                    <select class="form-control" id="categories" name="category" required>
                        <option th:each="category : ${categories}"
                                th:text="${category.name}"
                                th:value="${category.id}"
                                th:selected="${product.category?.id == category.id}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<th:block th:replace="fragments/scripts.html :: scripts">
</th:block>

</body>

</html>