<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <th scope="col" th:fragment="sort_header_user (header, column)">[[${header}]]
        <a th:href="@{/user(page=${param.page}, size=${param.size}, usernameFilter=${param.usernameFilter},
                                sortField=${column})}">
            <i class="fa fa-sort-down"></i>
        </a>
    </th>

    <th scope="col" th:fragment="sort_header_product (header, column)">[[${header}]]
        <a th:href="@{/product(categoryId=${param.categoryId}, namePattern=${param.namePattern}, page=${param.page}, size=${param.size}, sortField=${column})}">
            <i class="fa fa-sort-down"></i>
        </a>
    </th>

    <th scope="col" th:fragment="sort_header_category (header, column)">[[${header}]]
        <a th:href="@{/category(page=${param.page}, size=${param.size}, sortField=${column})}">
            <i class="fa fa-sort-down"></i>
        </a>
    </th>

</html>