<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navibar (hr_brand, hr_link)">
    <a class="navbar-brand" href="#">[[${hr_brand}]]</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">[[${hr_link}]]</a>
            </li>
        </ul>
    </div>
</nav>

</html>